$font-stack: Helvetica, sans-serif;

$dark: #272822;
$light: #8f908a;
$yellow: #e6db74;
$pink: #f92672;
$blue: #66d9ef;
$white: #f8f8f2;
$purple: #ae81ff;
$orange: #fd971f;
$green: #a6e22e;
.dark {color:$dark;}
.light {color:$light;}
.yellow {color:$yellow;}
.pink {color:$pink;}
.blue {color:$blue;}
.white {color:$white;}
.purple {color:$purple;}
.orange {color:$orange;}
.green {color:$green;}
.bg-dark {background-color:$dark;}
.bg-light {background-color:$light;}
html {
    padding: 0em;
    margin: 0em;
    font-family: $font-stack;
    height:100%;
}
body {
    box-sizing: border-box;
    
    padding: 0em;
    margin: 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $dark;
}
a {
    color: $white;
    text-decoration: none;
    box-sizing: border-box;
    &:hover {
        
    }
}
input[type="radio"]:checked+label {
    color: $blue;
}
label {
    color: $white;
    text-decoration: none;
    box-sizing: border-box;
    &:hover {
        animation: links 1s;
        animation-fill-mode: forwards; 
    }
}
form {
}
header, section, footer {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding: 1em;
    color: $white;
    background-color: $dark;
}
header[role="search-box"] {
    padding: 1em;
}
div[role="adv-search"] {
    margin-top: 1em;
    font-size: 0.8em;
    table {
        text-align: right;
        tr th {
            width: 9em;
            color: $green;
        }
        tr td {
        }
    }
}
section[role="results"] {
    .result {
        padding:1em;
        margin:1em 0;
        border: 1px solid $yellow;
        &:hover {
            animation: focus 4s;
            animation-fill-mode: forwards; 
        }
        h1{
            color:$blue;
            &:hover {
                animation: heading 4s;
                animation-fill-mode: forwards; 
            }
        }
        h2 {
            font-size: 1.2em;
            color: $green;
        }
        .result-footer {
            font-size: 0.8em;
            color: $light;
        }
    }
}
section[role="page-controls"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
        margin: auto 0;
        text-align: center;
    }
    [role="prev"] {
        
    }
    [role="next"] {
        float: right;
    }
}

footer {
    margin-bottom: 0em;
    padding:1em;
}
h1, h2, h3, h4, h5 {
    margin: 0.3em;
    padding: 0em;
    color: $blue;
    font-weight: 200;
}
em { 
    font-style: normal;
    color: $purple;
    border-bottom: 2px dotted $orange;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="number"] {
    text-align: center;
}
input, button {
    padding: 0.3em;
    background-color: $dark;
    color: $white;
    border: 1px solid $pink;
}
.center {text-align: center;}
.ital {font-style: italic;}

@media only screen and (max-width: 720px) {
    section {
        display:block;
    }
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@keyframes links {
    0% {color: $white;}
    100% {color: $purple;border-bottom: 2px dotted $yellow;}
}
@keyframes heading {
    0% {color: $blue;}
    25% {color: $purple;}
    50% {color: $pink;}
    75% {color: $yellow;}
    100% {color: $green;}
}
@keyframes focus {
    0% {background-color: rgba(200, 200, 200, 0); }
    50% {background-color: rgba(200, 200, 200, 0.1); }
    100% {background-color: rgba(200, 200, 200, 0); }
}
