.dark {
  color: #272822; }

.light {
  color: #8f908a; }

.yellow {
  color: #e6db74; }

.pink {
  color: #f92672; }

.blue {
  color: #66d9ef; }

.white {
  color: #f8f8f2; }

.purple {
  color: #ae81ff; }

.orange {
  color: #fd971f; }

.green {
  color: #a6e22e; }

.bg-dark {
  background-color: #272822; }

.bg-light {
  background-color: #8f908a; }

html {
  padding: 0em;
  margin: 0em;
  font-family: Helvetica, sans-serif;
  height: 100%; }

body {
  box-sizing: border-box;
  padding: 0em;
  margin: 0em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #272822; }

a {
  color: #f8f8f2;
  text-decoration: none;
  box-sizing: border-box; }

input[type="radio"]:checked + label {
  color: #66d9ef; }

label {
  color: #f8f8f2;
  text-decoration: none;
  box-sizing: border-box; }
  label:hover {
    animation: links 1s;
    animation-fill-mode: forwards; }

header, section, footer {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 1em;
  color: #f8f8f2;
  background-color: #272822; }

header[role="search-box"] {
  padding: 1em; }

div[role="adv-search"] {
  margin-top: 1em;
  font-size: 0.8em; }
  div[role="adv-search"] table {
    text-align: right; }
    div[role="adv-search"] table tr th {
      width: 9em;
      color: #a6e22e; }

section[role="results"] .result {
  padding: 1em;
  margin: 1em 0;
  border: 1px solid #e6db74; }
  section[role="results"] .result:hover {
    animation: focus 4s;
    animation-fill-mode: forwards; }
  section[role="results"] .result h1 {
    color: #66d9ef; }
    section[role="results"] .result h1:hover {
      animation: heading 4s;
      animation-fill-mode: forwards; }
  section[role="results"] .result h2 {
    font-size: 1.2em;
    color: #a6e22e; }
  section[role="results"] .result .result-footer {
    font-size: 0.8em;
    color: #8f908a; }

section[role="page-controls"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  section[role="page-controls"] p {
    margin: auto 0;
    text-align: center; }
  section[role="page-controls"] [role="next"] {
    float: right; }

footer {
  margin-bottom: 0em;
  padding: 1em; }

h1, h2, h3, h4, h5 {
  margin: 0.3em;
  padding: 0em;
  color: #66d9ef;
  font-weight: 200; }

em {
  font-style: normal;
  color: #ae81ff;
  border-bottom: 2px dotted #fd971f; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  text-align: center; }

input, button, select {
  padding: 0.3em;
  background-color: #272822;
  color: #f8f8f2;
  border: 1px solid #f92672; }

button {
  width: 10em; }

.center {
  text-align: center; }

.ital {
  font-style: italic; }

/* ADMIN */
body[ng-controller="loginCtrl"] {
  height: 100%; }
  body[ng-controller="loginCtrl"] .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0 auto; }
    body[ng-controller="loginCtrl"] .container div {
      margin: auto 0; }
      body[ng-controller="loginCtrl"] .container div .adm-ctrl {
        padding: 0; }
        body[ng-controller="loginCtrl"] .container div .adm-ctrl .logout {
          float: right; }
      body[ng-controller="loginCtrl"] .container div h1 {
        cursor: default;
        text-align: center; }
        body[ng-controller="loginCtrl"] .container div h1:hover {
          animation: heading 4s;
          animation-fill-mode: forwards; }
      body[ng-controller="loginCtrl"] .container div table {
        width: 100%; }
        body[ng-controller="loginCtrl"] .container div table tr th {
          color: #66d9ef; }
        body[ng-controller="loginCtrl"] .container div table tr td {
          width: 10em;
          color: #f8f8f2; }
        body[ng-controller="loginCtrl"] .container div table tr .ua {
          font-size: 10px; }
      body[ng-controller="loginCtrl"] .container div dl dd {
        margin: 0;
        width: 100%; }
        body[ng-controller="loginCtrl"] .container div dl dd input {
          text-align: center; }
        body[ng-controller="loginCtrl"] .container div dl dd button {
          width: 100%;
          border: 1px solid #e6db74;
          color: #e6db74;
          margin-top: 1em; }
          body[ng-controller="loginCtrl"] .container div dl dd button:hover {
            background-color: #e6db74;
            color: #272822; }

.left {
  float: left; }

.right {
  float: right; }

#tracking-text {
  width: 500px;
  height: 300px; }

@keyframes links {
  0% {
    color: #f8f8f2; }
  100% {
    color: #ae81ff;
    border-bottom: 2px dotted #e6db74; } }

@keyframes heading {
  0% {
    color: #66d9ef; }
  25% {
    color: #ae81ff; }
  50% {
    color: #f92672; }
  75% {
    color: #e6db74; }
  100% {
    color: #a6e22e; } }

@keyframes focus {
  0% {
    background-color: rgba(200, 200, 200, 0); }
  50% {
    background-color: rgba(200, 200, 200, 0.1); }
  100% {
    background-color: rgba(200, 200, 200, 0); } }

@media only screen and (max-width: 720px) {
  section {
    display: block; } }
